
<script src="login.js" ></script>
<div class="navbar">
    <a class="name" href="/">Home</a>
    <a class="name" href="/registro">Registro</a>
    <a class="name" href="/busca_produtor">buscar produtor</a>
    <a class="name" href="/busca_propriedade">buscar propriedade</a>
    <a class="name" href="/sair">sair</a>

</div>

